* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  background: linear-gradient(to left, #5c258d, #4389a2);
}
.title {
  text-align: center;
  font-family: Lobster;
  color: #e6e86b;
  padding-top: 10px;
}
.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
form {
  display: flex;
  justify-content: center;
  padding: 20px;
}
form input {
  height: 40px;
  width: 40%;
  font-size: large;
  padding: 15px;
  border-radius: 10px 0px 0px 10px;
  border: none;
}
form input:focus {
  outline: none;
}
form button {
  border: none;
  border-left: 1px solid gray;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  cursor: pointer;
}
form button:focus {
  outline: none;
}
form button:hover {
  background-color: darkgray;
}
.code {
  position: absolute;
  right: 10px;
  top: 50px;
  width: 50px;
  background-color: #886fb1;
  text-decoration: none;
  color: #5c268e;
  text-align: center;
  border-radius: 25px;
  padding: 5px;
  font-weight: bold;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
